In [1]:
lst1=[1,8,9,0,10,20,78,8,8,8]

In [2]:
s2=set(lst1)
print(s2)
print(type(s2))

{0, 1, 8, 9, 10, 78, 20}
<class 'set'>

In [3]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [4]:
s1={1,2,3,4}
s2={3,4,5,6}
s1|s2

{1, 2, 3, 4, 5, 6}

In [5]:
s1.union(s2)

{1, 2, 3, 4, 5, 6}

In [6]:
s1&s2

{3, 4}

In [7]:
s1={2,3,5,6,7}
s2={5,6,7}
s1-s2

{2, 3}

s2-s1

In [8]:
s2-s1

set()

In [9]:
s1={1,2,3,4,5}
s2={4,5,6,7,8}
s1.symmetric_difference(s2)

{1, 2, 3, 6, 7, 8}

In [10]:
s1={1,2,3,4,5}
s2={1,2,3}
s2.issubset(s1)

True

In [11]:
s2.issuperset(s1)

False

str1 = "welcome to AIML class"

In [14]:
str1="Welcome to AIML class"
print(str1)
str1[5:10]

Welcome to AIML class

'me to'

In [15]:
print(str1)
str1.split()

Welcome to AIML class

['Welcome', 'to', 'AIML', 'class']

In [17]:
reviews=["The product is awesome", "Great Service"]
joined_string=';'.join(reviews)
joined_string

'The product is awesome;Great Service'

In [20]:
str2="  Hello, How are you?  "
str2

'  Hello, How are you?  '

str2.strip()

In [21]:
str2.strip()

'Hello, How are you?'

In [22]:
str2.upper()

'  HELLO, HOW ARE YOU?  '

In [23]:
str2.lower()

'  hello, how are you?  '

In [24]:
sales_data = {

    "ProductID" : [101, 102, 103, 104, 105, 106, 107, 108, 109, 110]
    "ProductName" : ["Laptop", "Mouse", "Keyboard", "Accessories", "Electronics", "Furniture"]

SyntaxError: invalid syntax (<ipython-input-24-6755bcad6b22>, line 4)